<p>Dear {{ nome }},</p>
<p>Welcome to <b>SingSong</b>!</p>

<p>To confirm your account please <a href=
    "{{ url_for('auth.confirm', token=token, _external=True) }}">click here</a>.</p>
<p>Alternatively, you can paste the following link in your browser's address bar:</p>
<p>{{ url_for('auth.confirm', token=token, _external=True) }}</p>

<p>Sincerely,</p>
<p>The SingSong Team</p>

<p><small>Note: please do not reply to this email address.</small></p>


<!The "_external=True" argument adds the full absolute URL that includes the
hostname and port (http://localhost:5000, in our case.)>
