{% extends "template.html" %}
{% block form_can %}
<div class='saluto'>
  {% if current_user.is_authenticated %}
    <h3>Welcome {{ current_user.nome }}</h3>
  {% endif %}
  <button type="button" onclick="location.href='{{ url_for('profile.logout')}}'"
    style="cursor:pointer">Logout</button>
</div>
<div class="ins">
  <h4 class="tit"> INSERT A SONG IN YOUR PLAYLIST </h4>
  <form name="canzone" id="canzone" enctype=multipart/form-data
    action="{{ url_for('profile.user_can', nome=current_user.nome)}}" method="post" novalidate>
    {{ form.csrf_token }}
<p>
    {{ form.file.label }}<br>
    {{ form.file() }}
</p>
<a class="errors" style="color: red">{% for error in form.file.errors %}
&nbsp;&nbsp;{{ error }}{% endfor %}</a>
<p>
    {{ form.titolo.label }}<br>
    {{ form.titolo(id="f_tit") }}
</p>
<a class="errors" style="color: red">{% for error in form.titolo.errors %}
&nbsp;&nbsp;{{ error }}{% endfor %}</a>
<p>
    {{ form.album.label }}<br>
    {{ form.album(id="f_alb") }}
</p>
<p>
    {{ form.artista.label }}<br>
    {{ form.artista(id="f_art") }}
</p>
<p>
    {{ form.genere.label }}<br>
    {{ form.genere(id="f_gen") }}
</p>
<a class="errors" style="color: red">{% for error in form.artista.errors %}
&nbsp;&nbsp;{{ error }}{% endfor %}</a>
<a class="errors" style="color: red">{% for error in form.album.errors %}
&nbsp;&nbsp;{{ error }}{% endfor %}</a>
{% with messages = get_flashed_messages() %}
  {% if messages %}
    {% for message in messages %}
      <p style="color: green">{{message}}</p>
    {% endfor %}
  {% endif %}
{% endwith %}
<p>{{ form.submit(class="submit") }}</p>
</form>
</div>
{% endblock %}

{% block lista %}
<div class="up_song" id="update" style="display:none">
  <form name="update" class="up_form" enctype=multipart/form-data onsubmit="return validateForm()"
    action="{{ url_for('profile.update_song', nome=current_user.nome)}}" method="post" novalidate>
    <table class="up_table" style="width:95%">
        {{ form_up.csrf_token }}
      <tr>
        <td>
          {{ form_up.tit_id(id="u_tit_id", style="display:none")}}
        </td>
        <td>
          {{ form_up.alb_hide(id="u_alb_hide", style="display:none")}}
        </td>
        <td>
          {{ form_up.art_hide(id="u_art_hide", style="display:none")}}
        </td>
        <td>
          {{ form_up.gen_hide(id="u_gen_hide", style="display:none")}}
        </td>
        <td>
          {{ form_up.titolo.label }}<br>
          {{ form_up.titolo(class="upfield", id="u_tit")}}
        </td>
        <td>
          {{ form_up.album.label }}<br>
          {{ form_up.album(class="upfield", id="u_alb") }}
        </td>
        <td>
          {{ form_up.artista.label }}<br>
          {{ form_up.artista(class="upfield", id="u_art") }}
        </td>
        <td>
          {{ form_up.genere.label }}<br>
          {{ form_up.genere(class="upfield", id="u_gen") }}
        </td>
        <p><a class="errors" style="color: red">{% for error in form_up.titolo.errors %}
        &nbsp;&nbsp;{{ error }}{% endfor %}</a></p>
      </tr>
    </table>

    <a class="errors" style="color: red">{% for error in form_up.artista.errors %}
    &nbsp;&nbsp;{{ error }}{% endfor %}</a>
    <a class="errors" style="color: red">{% for error in form_up.album.errors %}
    &nbsp;&nbsp;{{ error }}{% endfor %}</a>
    <p>{{ form_up.submit(class="submit") }}
    <button type="button" onclick="closeForm('update')">Close</button></p>
  </form>
</div>


<div class="lista_song">
  <table id="Mytable" style="width:90%">
    <tr>
      <th></th>
      <th onclick="sortTable(1)">Song</th>
      <th onclick="sortTable(2)">Album</th>
      <th onclick="sortTable(3)">Artist</th>
      <th onclick="sortTable(4)">Genere</th>
      <th style="font-size:10px">Dpuble click on pen to update</th>
    </tr>
      {% for row in lista %}
        <tr>
          <td><audio controls id="player">
            <! Il tag audio prevede per la ricerca il tag "source src". src cerca il file
            ed è necessario inserire il percorso con / all'inizio.>
            <source src="{{row[4]}}">
              Your browser does not support the <code>audio</code> element.</td>
          <td >{{row[0]}}</td>
          <td class="t_alb">{{row[1]}}</td>
          <td class="t_art">{{row[2]}}</td>
          <td class="t_gen">{{row[3]}}</td>
          <td style="width:8%">
            <div class="ico_mes">
              <div class="ico">
                <a href="#?tito={{row[0]}}&albu={{row[1]}}&arti={{row[2]}}&gene={{row[3]}}&n={{row[5]}}"
                  ondblclick="visualizza('update')"><img src="/static/pen.png" alt="pen"
                    class="pen"></img>
                </a>
                <p>Update</p>
              </div>
              <div class="ico">
                <a href="/profile/delete?n={{row[5]}}"><img src="/static/trash.png"
                  alt="trash" class="trash"></img>
                </a>
                <p>Delete</p>
              </div>
            </div>
          </td>
        </tr>
     {% endfor %}
  </table>
</div>
<script>
  var data = JSON.parse('{{ lista | tojson | safe}}');
</script>
<script src={{url_for('static', filename='JS/profile.js')}}></script>
{% endblock %}
