/******************************************************************
INIZIO DEL CODICE STILE DEL SITO*/
body {
  background-color: rgba(135,206,235);
}

header {
  background-color: lightgrey;
  border-radius: 30px;
  width: 500px;
  padding: 10px;
  margin: 20px;
}

h1 {
  font-family: Verdana, sans-serif;
  font-weight: bold;
  font-size: 40px
}

img {
  position: absolute;
  margin-left: 20%;
  top: 8%
}

/**************************** SLIDESHOW HOMEPAGE ********************************/
/* Slideshow container */
.slideshow-container {
  max-width: 1000px;
  position: relative;
  margin: auto;
  margin-top: 150px;
}

/* Caption text */
.text {
  color: #e6fff2;
  font-size: 35px;
  padding: 8px 62px;
  position: absolute;
  top: 48px;
  width: 100%;
  text-align: center;
}

/* The dots/bullets/indicators */
.dot {
  height: 15px;
  width: 15px;
  margin: 0 2px;
  background-color: #bbb;
  border-radius: 50%;
  display: inline-block;
  transition: background-color 0.6s ease;
  margin-top: 200px
}

.active {
  background-color: #e6fff2;
}

/* Fading animation */
.fade {
  -webkit-animation-name: fade;
  -webkit-animation-duration: 1.5s;
  animation-name: fade;
  animation-duration: 1.5s;
}

@-webkit-keyframes fade {
  from {opacity: .4}
  to {opacity: 1}
}

@keyframes fade {
  from {opacity: .4}
  to {opacity: 1}
}


/********************************** FORM ***********************************************/
/* Stile per il form di inserimenti canzoni*/
.ins {
  text-align: center;
  background-color: #00ffff;
  border-radius: 80px;
  margin-left:200px;
  margin-right: 200px;
  margin-top:50px;
  padding-top: 2px
}

/* Stile per il form di registrazione */
.registra {
  text-align: left;
  margin-left:200px;
  margin-right:200px;
  margin-top: 150px;
}

/* Stile per il form di login*/
.login {
  text-align: left;
  margin-left:200px;
  margin-right:200px;
  margin-top: 150px;
}

/* Spazi di inserimento dei dati di tutti i form */
input[type=text], select {
  width: 30%;
}

/* Spazi di inserimento dei dati del form canzone */
.ins input[type=text], select {
  margin-bottom: 20px
}

/* Spazio di inserimento password form registra */
.registra .passw_space {
  width: 30%;
}

/* Spazi di inserimento password form login */
.login .passw_space {
  width: 30%;
}

/* PULSANTI
/* Stile per tutti i submit */
.submit {
  width: auto;
  background-color: lightgreen;
  margin-top: 20px;
  margin-bottom: 30px;
  border-radius: 5px;
  font-style: italic;
  font-weight: bold;
  font-size: 15px;
  cursor: pointer
}

.sub_can {
  width: auto;
  background-color: lightgreen;
  margin-top: 20px;
  margin-bottom: 30px;
  border-radius: 5px;
  font-style: italic;
  font-weight: bold;
  font-size: 15px;
  cursor: pointer
}

/* UPLOAD FILE */
/* riga del "Scegli file"*/
.ins input[type=file], select {
  margin-top: 10px;
  margin-bottom: 30px;
}

/* Titolo dello spazio upload file */
.ins .upload_tit {
  font-weight: bold;
  font-size: 18px
}


/******************************* TITOLI FORM ************************************/
/* Stile per tutti i titoli dei form*/
.tit {
  font-size: 25px;
  font-style: oblique;
  color: blue
}


/********************* NOTA AL FOOTER ACCEDI/REGISTRATI ************************/
/* Stile per il footer della Home */
.access {
  margin-top: 70px;
}

/* Stile per il footer che rinvia alla pag di login o registrazione */
.foot {
  margin-left:200px;
  font-size: 15px;
  font-style: normal;
  color: blue;
}


/*****************************    POPUP   +++++++++++++++++++++++++++++++++++++/
/* Popup container */
.popup {
  position: absolute;
  display: inline-block;
}

/* The actual popup (appears on top) */
.popup .popuptext {
  visibility: hidden;
  width: 160px;
  background-color: #555;
  color: #fff;
  text-align: center;
  border-radius: 6px;
  position: absolute;
  z-index: 1;
  margin-left: 20px;
}

/* I titoli del testo popup: Artista, Genere ecc.*/
.popup .popuptext .ins_tit {
  font-style: italic;
  font-weight: bold;
  color: lightgreen
}

/* Popup arrow */
.popup .popuptext::after {
  content: "";
  position: absolute;
  top: 100%;
  left: 50%;
  margin-left: -5px;
  border-width: 5px;
  border-style: solid;
  border-color: #555 transparent transparent transparent;
}

/* Toggle this class when clicking on the popup container (hide and show the popup) */
.popup .show {
  visibility: visible;
  -webkit-animation: fadeIn 1s;
  animation: fadeIn 1s;
}

/* Add animation (fade in the popup) */
@-webkit-keyframes fadeIn {
  from {opacity: 0;}
  to {opacity: 1;}
}

@keyframes fadeIn {
  from {opacity: 0;}
  to {opacity:1 ;}
}


/********************************** PLAYER AUDIO ***********************************************/

.canzone #player {
  position: absolute
  padding-left: 27%
  padding-top: 3%
  width: 50%
  max-width: 600px
}


/********************************** LISTA CANZONI ***********************************************/

/* Posizione intera tabella*/
.lista_song {
  margin-top: 3%;
  margin-left: 9%
}

/* Stile singole celle */
table, th, td{
  border: 1px solid black;
  border-collapse: collapse;
  padding: 1%;
}

.lista_song th, td{
  text-align: center;
}

tr:nth-child(even) {
  background-color: #eee;
}

tr:nth-child(odd) {
 background-color: #fff;
}

th {
  background-color: yellow;
  cursor:pointer;
}

/* Bottoni play di ogni canzone */
.but_play {
  position: absolute;
  left:80px;
  background-color: lightgrey
}

/* Stile per le icone modifica e elemina canzone*/
.ico_mes .pen {
  width:30%;
  position: static;
  float:left;
}

.ico_mes .trash {
  width:30%;
  position: static;
  float: right;
}

.ico {
  position: relative;
}

.ico p {
  position: absolute;
  left: 13%;
  bottom: 23%;
  background: none repeat scroll 0 0 rgba(0, 0, 0, 0.7);
  color: #fff;
  display: none;
  width: 100%;
  padding: 3px
}

.ico:hover p {
  display: block;
}
/********************************** UPDATE FORM  ***********************************************/

.up_song {
  margin-top: 8%;
}

.up_table {
  margin-left: 2%;
}

.up_form .submit {
  margin-left: 47%
}

.up_table .upfield {
  width:100%;
  background-color: #FFF8DC;
}

.up_table td{
  border: None
}


/********************************** FLASH MESSAGES  ***********************************************/

/* Messaggi sulla Home dopo il click del link di conferma da email */
.msg_flash {
  margin-left: 36%;
  font-size: 25px;
}
